*
{
    margin: 0px;
    border: opx;
}
body
{
    height: 100vh;
}

.navbar
{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    
}

.fullnavbar
{
    background-color:blue;
    height: 70px;
    width: none;
    margin: 0px;
}

.buttoninput
{
    height: 15px;
    width: 70px;
    margin-top: 5px;
    float: right;
    text-align: center;
    background-color: white;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.alogo
{
  height: 40px; 
  margin-top: 15px; 
  margin-left: 20px;
}

body
{
    background-image: url(/Travel.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bgtext
{
   margin-left: 40px;
   margin-top: 100px;
   height: 500px;
   width: 600px;
   background-color: rgba(245, 222, 179, 0.686); 
   text-align: center;
   
}

#WELCOME
{
    font-size: 80px;
    color: white;
    border: 0px;
    
}
#TOMY
{
    font-size: 100px;
    color: white; 
    
    
}
#TRAVEL
{
    font-size: 120px;
    color: black;
    
}
#BLOG
{
    font-size: 150px;
    color: white;   
     
}

footer
{
    text-align: right;
    color: white;
    position: sticky;
    top: 100%;
    margin-right: 20px;
    margin-bottom:40px;
    font-weight: bold;

}